body{
    overflow-x: hidden;
    margin: 0;

}

a{
    text-decoration: none;
}

h1{
    color:black;
    text-align: center;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px white;

}

h2{
    font-size: 35px;
    margin-top: 0%;
}

h3{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    padding-top: 1.3em;
    text-decoration: underline;
}

.error{
    width: 35rem;
    font-size: 30px;
    font-weight: 900;
    font-family:'Lobster', cursive;
    color: red;
    text-align: center;
    margin: auto auto;
    margin-top: -1.5rem;
    
}

.bloc_header{
    background-color: #8dc1f5;
}

.header_navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header_navbar span{
    color:black;
    text-align: center;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 2px white;
}

.navigation_link i{
    text-shadow: 2px 2px 2px white;
    color: black;
    font-size: 30px;
}

.navigation_link i:hover{
    cursor: pointer;
    font-size: 35px;
    transition: ease 0.5s;
    color: white;
    text-shadow: 2px 2px 2px black;

}

.presentation{
    margin-bottom: -1.9em;
    text-align: center;
    font-family: 'Style Script', cursive;;
    background-color: white;
}

.presentation p{
    margin-top: -0.9em;
    font-size: 25px;
    font-weight: bold;

}

.products{
    margin-top: 0;
    text-align: center;
    background-color: rgb(215, 217, 247);
}

.choix_products{
    margin-top: -2rem;
    text-align: center;
    background-color: rgb(215, 217, 247);
}

.teddies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lobster', cursive;
}

.choix_teddies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lobster', cursive;
}

/* .teddy_1, .teddy_2, .teddy_3, .teddy_4, .teddy_5{
    border: 1px solid transparent;
    border-radius: 25px 25px;
    height: 15rem;
    width: 15rem;
    margin-bottom: 3rem;
    background-color: #8dc1f5;
    box-shadow: 2px 2px 2px black;
} */

a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
    box-shadow: 4px 4px 4px black;
}

/* #img1, #img2, #img3, #img4, #img5{
    height: 11rem;
    width: 15rem;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
} */

/* #name1, #name2, #name3, #name4, #name5{
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px 2px white;
    margin-top: -0.4rem;
    text-align: center;
    font-weight: 200;
} */


/* #price1, #price2, #price3, #price4, #price5{
    font-size: 20px;
    color: black;
    text-shadow: 2px 2px 2px white;
    margin-top: -0.1rem;
    text-align: center;
    font-weight: 200;
} */

/* .euros{
    font-size: 20px;
    color: black;
    text-shadow: 2px 2px 2px white;
    margin-top: -1.55rem;
    margin-left: 2.8rem;
    font-family: 'Lobster', cursive;
    font-weight: 200;

} */

.bloc_footer{
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #8dc1f5;
}

.bloc_footer a{
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 17px;
}

.contact:hover{
    cursor: pointer;
    font-size: 20px;
    transition: ease 0.5s;
    text-shadow: 1px 1px 1px white;
    text-decoration: underline;
    transition: ease 0.5s;
}

.condition:hover{
    cursor: pointer;
    font-size: 20px;
    transition: ease 0.5s;
    text-shadow: 1px 1px 1px white;
    text-decoration: underline;
    transition: ease 0.5s;  
}

.policy:hover{
    cursor: pointer;
    font-size: 20px;
    text-shadow: 1px 1px 1px white;
    text-decoration: underline;
    transition: ease 0.5s;
}

/* .bloc_1 a:hover{
    cursor: pointer;
    font-size: 19px;
    transition: ease 0.5s;
}

.bloc_2 a:hover{
    cursor: pointer;
    font-size: 19px;
    transition: ease 0.5s;
}

.bloc_3 a:hover{
    cursor: pointer;
    font-size: 19px;
    transition: ease 0.5s;
} */